@model AppPfeBackEnd.Models.PublicationPecheur

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PublicationPecheur</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdPecheur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdPecheur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lieu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateDePeche)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateDePeche)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.choix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.choix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.poids)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.poids)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.photoPoisson)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.photoPoisson)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
